body {
    background-color: gray;
}

h1, h2 {
    text-align: center;
}

#contenidor {
    width: 60%;
    margin: auto;
}

#acudit {
    height: 100px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divbtn {
    display: flex;
    justify-content: center;
}

#btnAcudit {
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}